#mammoth-docx-loading {
    display: none;
}

.status-loading #mammoth-docx-loading {
    display: block;
}

.mammoth-docx-preview {
    display: none;
}

.status-loaded .mammoth-docx-preview {
    display: block;
}

#mammoth-docx-visual-preview {
    width: 90%;
    height: 350px;
}


.mammoth-tabs .tabs-nav li {
    display: inline-block;
    margin: 0 1em 0 0;
    padding: 0.2em 1em;
    border-radius: 1em;
    background-color: #777;
    color: white;
    cursor: pointer;
}
